{% extends 'base.html' %}

{% block title %}Gestion documents{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a href="{{ url_for('upload')}}"><button class="btn link-button text-white border border-white bg-info"><i class="fa fa-upload fa-2x text-white"></i> Upload</button></a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('add_doc')}}"><button class="btn link-button text-white border border-white bg-secondary"><i class="fa fa-file fa-2x text-white"></i> Nouveau</button></a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 badge badge-dark w-70 border border-white">
            <h6>{{ filtre }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-8 badge badge-danger w-70 border border-white">
            <h6>Libelle</h6>
        </div>
        <div class="col-2 badge badge-danger w-70 border border-white">
            <h6>Créé le</h6>
        </div>
        <div class="col-2 badge badge-danger w-70 border border-white">
            <h6>Date Maj</h6>
        </div>
    </div>
    {% for d in doc %}
    <div class="row">
        <div class="col-8 badge badge-secondary w-70 border border-white">
            <button class="btn btn-default btn-xs btn-custom-xs link-button-xs bg-primary border border-white"><a href="./code/{{ d['code'] }}"><i class="fa fa-pencil-square-o fa-1x text-white"></i></a></button>
            <form method="GET">
                <button type="submit" name="del" class="btn btn-default btn-xs btn-custom-xs link-button-xs bg-danger border border-white"><a href="./del/{{ d['code'] }}"><i class="fa fa-trash fa-1x text-white"></i></a></button>
            </form>
            <a href="../document/{{ d['lien'] }}" class="badge">
                <h6>{{ d['code'] }} - {{ d['libelle'] }}</h6>
            </a>
        </div>
        <div class="col-2 badge badge-secondary w-70 border border-white">
            <h6>{{ d['date_creation'] }}</h6>
        </div>
        <div class="col-2 badge badge-secondary w-70 border border-white">
            <h6>{{ d['date_maj'] }}</h6>
        </div>
    </div>
    {% endfor %}
{% endblock %}
