{% extends 'base.html' %}

{% block head %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
{% endblock %}

{% block title %}Upload document{% endblock %}

{% block content %}
    {{ dropzone.create(action='/upload/') }}
    {{ dropzone.config() }}
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Select image</label>

                        <div class="custom-file">
                            <!--<input type="file" class="custom-file-input" name="document" id="document">-->
                            <!--<input type="file" class="form-control" id="document" name="document" accept=".pdf">-->

                            <input type="text" class="form-control" id="lienDocument" name="lienDocument" placeholder="Lien document" value={{ lien }}>

                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
