{% extends 'base.html' %}

{% block head %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
{% endblock %}

{% block nav %}
    <li class="nav-item ">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <a href="{{ url_for('admin')}}"><button type="submit" class="btn link-button text-white border border-white bg-danger"><i class="fa fa-upload fa-2x text-white"></i> Upload </button></a>
        </form>
    </li>
{% endblock %}

{% block title %}Upload document{% endblock %}

{% block content %}
    {{ dropzone.create(action='/upload/') }}
    {{ dropzone.config() }}
    <div class="container">
    </div>
{% endblock %}
